* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

section {
   background-color: #07070d;
   color: white;
   min-height: 100vh;
}

.container {
   width: 1300px;
   max-width: 100%;
   margin: 0 auto;
   padding: 60px 20px;
}

#tsparticles {
   width: 100% !important;
   height: 100% !important;
}

#tsparticles canvas {
   width: 100% !important;
   height: 100% !important;
}
