.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: var(--main-color);
   z-index: 1000;
   border-bottom: 1px solid var(--second-color);
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 3rem;
}

.navList {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   padding: 0 1rem;
}

.navItem {
   text-decoration: none;
   background: none;
   border: none;
   cursor: pointer;
   padding: 0.5rem 1rem;
   position: relative;
   font-size: 1.1rem;
   color: white;
}
